<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.admin.mapper.SLogMapper">
  <resultMap id="BaseResultMap" type="com.taiji.admin.model.SLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="option_date" jdbcType="TIMESTAMP" property="optionDate" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="result" jdbcType="CHAR" property="result" />
    <result column="del_flg" jdbcType="CHAR" property="delFlg" />
    <result column="user_name" jdbcType="INTEGER" property="userName" />
    <result column="model_name" jdbcType="INTEGER" property="modelName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, model_id, user_id, option_date, options, content, result, del_flg
  </sql>
  <select id="selectByExample" parameterType="com.taiji.admin.model.SLogExample" resultMap="BaseResultMap">
    select id, model_id, user_id, option_date, options, content, result, del_flg, user_name from
    (select t.id, t.model_id, t.user_id, t.option_date, t.options, t.content, t.result, t.del_flg, 
    u.name as user_name<!-- , o.value as model_name -->
    from s_log t
    left join s_user u on t.user_id=u.id
    <!-- left join o_dict o on t.model_id=o.id -->
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>) p
    <if test="from != null and size != null">
   		limit #{from,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, model_id, user_id, option_date, options, content, result, del_flg, user_name from
    (select t.id, t.model_id, t.user_id, t.option_date, t.options, t.content, t.result, t.del_flg, 
    u.name as user_name<!-- , o.value as model_name -->
    from s_log t
    left join s_user u on t.user_id=u.id
    <!-- left join o_dict o on t.model_id=o.id -->
    where t.id = #{id,jdbcType=INTEGER}) p
  </select>
  <insert id="insert" parameterType="com.taiji.admin.model.SLog">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into s_log (id, model_id, user_id, option_date, options, content, result, del_flg)
    values (#{id,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{optionDate,jdbcType=TIMESTAMP}, #{options,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{result,jdbcType=CHAR}, #{delFlg,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.taiji.admin.model.SLog" keyProperty="id" useGeneratedKeys="true">
    insert into s_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="optionDate != null">
        option_date,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="delFlg != null">
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="optionDate != null">
        #{optionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=CHAR},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taiji.admin.model.SLogExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from s_log t
    left join s_user u on t.user_id=u.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>