<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--style-->
<link href="../css/menu.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div class="menuBox">	
	<!--menu-->
	<div class="menu">
		<a href="###" class="menuOn"><span class="menuID_01_On"></span></a>
		<a href="###" class="menuOff"><span class="menuID_02"></span></a>
		<a href="###" class="menuOff"><span class="menuID_03"></span></a>
		<a href="###" class="menuOff"><span class="menuID_04"></span></a>
		<a href="###" class="menu_zt"><span class="menu_zt_01"></span></a>
		<a href="###" class="menuOff"><span class="menuID_05"></span></a>
		<a href="###" class="menuOff"><span class="menuID_06"></span></a>
		<a href="###" class="menuOff"><span class="menuID_07"></span></a>
		<a href="###" class="menuOff"><span class="menuID_08"></span></a>
	</div>
	<!--menu end-->
</div>
</body>
</html>