<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/manage/images/favicon.ico">
<!--base style!-->
<link href="/static/manage/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/web.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/manage/js/jquery-1.7.2.min.js"></script>
<link href="/static/manage/css/select.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/manage/js/js.js"></script>
</head>
<body class="bg_white">
	<div class="fl w930 bg_white">
		<div class="fl w720 ml100 mt20" id="listUl0">
			<ul class="fl w">
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5"><font class="red bold mr5">*</font>名称：</span>
					<span class="fl w500 "><input type="text" id="name" class="InputText w600"/></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">说明：</span>
					<span class="fl w500 "><textarea id="descrip" class="InputArea w600 " style="height:300px!important"></textarea></span>
				</li>
		    </ul>
		</div>
	</div>
</body>
</html>
