<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/manage/images/favicon.ico">
<!--base style!-->
<link href="/static/manage/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/web.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/manage/js/jquery-1.7.2.min.js"></script>
</head>
<body class="bg_white">
	<div class="fl w900 bg_white">
		<div class="fl w720 ml100 mt20">
			<ul class="fl w ">
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10">姓名：</span>
					<span id="name" class="fl w500 blue"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10">用户名：</span>
					<span id="userId" class="fl w500 blue"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10">单位：</span>
					<span id="depart" class="fl w500 blue"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10">角色：</span>
					<span id="role" class="fl w500 blue"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10">密级：</span>
					<span id="userSecret" class="fl w500 blue"></span>
				</li>
		    </ul>
		</div>
	</div>
</body>
</html>
