<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/manage/images/favicon.ico">
<!--base style!-->
<link href="/static/manage/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/web.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/manage/css/select.css"/>
<script type="text/javascript" src="/static/manage/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/manage/js/js.js"></script>
</head>
<body style="padding-left:20px; padding-right:20px;">

	<!--弹出框-->
	<div id="bg1"></div>
	<div id="show1"  class="fl w930 pb50 bg_white">
		<div class="fl w h45 lh45 tit_zx ti20">
				<span class="white f16 bold">用户详情</span>
			<a href="###" onclick="hide(1);" class="fr mt10 mr15"><img src="/static/manage/images/close20.png"/></a>
		</div>
		<div class="fl w ">
			<iframe id="iframe1" src="/templates/view/user/detail.html" frameborder="0" width="100%" scrolling="auto"></iframe>	
		</div>	
		<div class="fl w200 h30 ml424 mt20" >
			<button type="submit" onclick="hide(1);" class="fl btn bg_green">返回</button>
		</div>
		
	</div>
	<!--弹出框 end-->
	<!--弹出框-->
	<div id="bg2"></div>
	<div id="show2"  class="fl w930 pb50 bg_white">
		<div class="fl w h45 lh45 tit_zx ti20">
				<span class="white f16 bold">编辑用户</span>
		</div>
		<div class="fl w ">
			<iframe id="iframe2" src="/templates/view/user/edit.html" frameborder="0" width="100%" scrolling="auto"></iframe>	
		</div>	
		<div class="fl w200 h30 ml370 mt20" >
			<button onclick="update(2)" class="fl btn bg_green">确定</button>
			<button type="submit" onclick="hide(2);" value="Submit" class="fr btn bg_red">取消</button>
		</div>
		
	</div>
	<!--弹出框 end-->
	<!--弹出框-->
	<div id="bg3"></div>
	<div id="show3"  class="fl w930 pb50 bg_white">
		<div class="fl w h45 lh45 tit_zx ti20">
				<span class="white f16 bold">新建用户</span>
		</div>
		<div class="fl w ">
			<iframe id="iframe3" src="/templates/view/user/add.html" frameborder="0" width="100%" height="470" scrolling="auto"></iframe>	
		</div>	
		<div class="fl w200 h30 ml370 mt20" >
			<button onclick="update(3)" class="fl btn bg_green">确定</button>
			<button type="submit" onclick="hide(3);" value="Submit" class="fr btn bg_red">取消</button>
		</div>
		
	</div>
	<!--弹出框 end-->

	<div class="w bc">
		<!--right start-->
		<div class="fr w ">
			<div class="fl w titBg titColor bold f18 h48 lh46 ">
				<span class="fl h48 titBgon">系统管理 &nbsp;/&nbsp;用户管理</span>
			</div>
			<div class="fl w  mt10 ">
					<div class="fl w_82 ">
						<ul class="fl ">
							<li class="fl w310 mt10 ">
								<span class="fl w50 tl mt5">姓名：</span>
								<span class="fl w240"><input type="text" id="name" class="InputText w240"></span>
							</li>
							<!-- <li class="fl w340 mt10">
								<span class="fl w70 tl mt5">用户名：</span>
								<span class="fl w240 ">
								
									<input type="text" id="userId" class="InputText w240">								
								</span>
							</li> -->
							<li class="fl w310 mt10">
								<span class="fl w50 tl mt5">单位：</span>
								<span class="fl w240 ">
								
									<input type="text" id="depart" class="InputText w240">
								
								</span>
							</li>
							
							<li class="fl w320 mt10 ">
								<span class="fl w50 tl mt5">角色：</span>
								<span class="fl w240 ">
									<div id="cate" class="cate w240">
										<div class="w cate_wrp h30">
											<div class="cate_inp w265 cate_tri" style="color: gray;">请选择</div>
											<a href="###" class="cate_tri" style="color: gray;"></a>
									  </div>
									   <div class="cate_drop" style="display:none">
										  <ul id="roleList">
											<!-- <li>资源分类1</li>
											<li>资源分类2</li>
											<li>资源分类3</li>
											<li>资源分类4</li> -->
										  </ul>
										  <input id="roleId" type="hidden">
										  <input id="uId" type="hidden" value="">
									   </div>
									</div>
								</span>
							</li>
						</ul>
					</div>
					<div class="fr w180">
						<button id="search" class="btn bg_green mt8">查 询</button>
						<button id="reset" class="btn bg_bule mt12 ml12">重 置</button>
					</div>
			</div>
			<div class="fl w  mt15 ">
				<div class="fl w bgBtn f18 h35 lh35">
					<a id="addHref" href="###" onclick="show(3);" class="fl f16 Black bold ti30 btn_xz">新增</a>
					<a id="delBatchHref" href="#" onclick="delBatch();" class="fl f16 Black bold ti30 btn_plsc ml10">批量删除</a>
				</div>
				<div class="fl w mt10">
					<table id="userTb" width="100%" border="0" cellspacing="0" cellpadding="0" class="tablelist">
					  <tr class="tableTit">
						<td class="tc w50">选择</td>
						<td class="tc w50">序号</td>
						<td class="tc w200">姓名</td>
						<!-- <td class="tc w150">用户名</td> -->
						<td class="tc">单位</td>
						<td class="tc w300">角色</td>
						<td class="tc w180">操作</td>
					  </tr>
					  <!-- <tr>
						<td class="tc"><input name="" type="checkbox" value="" class="CheckBox" /></td>
						<td class="tc">1</td>
						<td class="tc">王晓红</td>
						<td class="tc">系统管理员</td>
						<td class="tc">信息化管理办公室科员</td>
						<td class="tc">管理员</td>
						<td class="tc">
							<a href="page_2-ck.html" class="mr15 unl btn_ck">查看</a>
							<a href="#" class="mr15 unl btn_xg">编辑</a>
							<a href="#" class="btn_del unl">删除</a>
						</td>
					  </tr> -->
					</table>
				</div>
				<div class="fl w h20 bc"></div>
				<div class="w550 mt25 pageDiv bc" >
					<a href="#" onclick="firstPage()" class="pageoff ml10">首页</a>
					<a href="#" onclick="prevPage()" class="pageoff ml10">上一页</a>
					<label class="fl ml20 pt4 pr4">第</label>
					<input id="pageIndex" type="text" class="InputText fl mt4" style="width: 36px; height: 20px; line-height: 20px">
					<label class="fl pt4 pl4">页</label>
					<label id="pageNum" class="fl pt4 pl4">(共0页)</label>
					<a href="#" onclick="gotoPage()" class="pageoff ml4">跳转</a>
					<a href="#" onclick="nextPage()" class="pageoff ml10">下一页</a>
					<a href="#" onclick="lastPage()" class="pageoff ml10">末页</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">

 //页面初始化
 (function($) {
	//验证登录，根据权限显示菜单
	checkLogin0();
	
	//初始化下拉列表
	Selection(0, "roleId", 1, 12);
	//角色下拉项
	members();
	//用户列表
	list();
		
	$("#search").click(function() {
		pageIndex = 1;
		list();
	});
		
	//重置
	$("#reset").click(function() {
		$("#name").val("");
		$("#userId").val("");
		$("#depart").val("");
		$('div.cate_inp', $('#cate'))[0].innerHTML = "";
		$("#roleId").val("");
	});
	
 }(jQuery));


	//分页
	var pageIndex = 1;
	var pageNum = 0;
	var pageSize = 10;
	
	//记录查询条件
	var nameTmp = "";
	var userIdTmp = "";
	var departTmp = "";
	var roleIdTmp = "";

	//角色下拉项
	function members() {
		$.ajax({
			type : "post",
			url : "/api/role/members",
			dataType : "json",
			data : {},
			success : function(resp) {
				if(resp.code == 200){
					if(resp.data.length != 0) {
						$("#roleList").html("");
						$("#roleList").append(formRoleList(resp.data));
						//$("#roleList").listview("refresh");//在使用'ul'标签时才使用，作用:刷新列表
						$("#roleList").trigger("create");
					}
				} else {
				}
			}
		});
	}
	
	//角色数据
	function formRoleList(list) {
		var html = "<li value=''>请选择</li>";
		for (var i = 0; i < list.length; i++) {
			var item = list[i];
			html += "<li value=" + item.id + ">" + item.name + "</li>";
		}
		return html;
	}
	
	//用户列表
	function list() {
		 $.ajax({
			type : "post",
			url : "/api/user/list",
			dataType : "json",
			data : {
				'nowPage' : pageIndex,
				'name' : $("#name").val(),
				'userId' : $("#userId").val(),
				'depart' : $("#depart").val(),
				'roleId' : $("#roleId").val()
			},
			success : function(resp) {
				if(resp.code == 200){
					$("#userTb").html("");
					if(resp.data.length != 0) {
						$("#userTb").append(formUsers(resp.data));
						//$("#userTb").listview("refresh");//在使用'ul'标签时才使用，作用:刷新列表
						$("#userTb").trigger("create");
						
						pageNum = (resp.count % pageSize == 0) ? (resp.count / pageSize) : (Math.floor(resp.count / pageSize) + 1);
					}
					else {
						pageNum = 0;
					}
					$("#pageIndex").val(pageIndex);
					$("#pageNum").text("(共" + pageNum + "页)");
					nameTmp = $("#name").val();
					userIdTmp = $("#userId").val();
					departTmp = $("#depart").val();
					roleIdTmp = $("#roleId").val();
					
					$("#uId").val("");
				} else {
					//alert(resp.msg);
				}
			}
		});
	}
	
	//用户数据
	function formUsers(list) {
		//判断权限
		var ep = perCheck("user", "");
		//组织数据
		var html = "<tr class='tableTit'>"
			+ "	<td class='tc w50'>选择</td>"
			+ "	<td class='tc w50'>序号</td>"
			+ "	<td class='tc w200'>姓名</td>"
// 			+ "	<td class='tc w150'>用户名</td>"
			+ "	<td class='tc'>单位</td>"
			+ "	<td class='tc w300'>角色</td>"
			+ "	<td class='tc w180'>操作</td>"
			+ "</tr>";
		for (var i = 0; i < list.length; i++) {
			var item = list[i];
			var trCss = (i % 2 != 0) ? "class='trbgColor'" : "";
			var depart = item.org == null ? "" : (item.org.name == null ? "" : item.org.name);
			html += "<tr "  + trCss + ">" 
				+ "	<td class='tc w50'><input name='dataList' onclick='selectSingle()' type='checkbox' value='" + item.id + "' class='CheckBox' /></td>"
				+ "	<td class='tc w50'>" + (i + 1) + "</td>"
				+ "	<td class='tc w200' title='" + (item.name == null?"":item.name) + "'>" + textEllipsis((item.name == null?"":item.name), 20) + "</td>"
// 				+ "	<td class='tc w240' title='" + (item.userId == null?"":item.userId) + "'>" + textEllipsis((item.userId == null?"":item.userId), 20) + "</td>"
				+ "	<td class='tc' title='" + depart + "'>" + textEllipsis(depart, 30) + "</td>"
				+ "	<td class='tc w300' title='" + unionRole(item) + "'>" + textEllipsis(unionRole(item), 12) + "</td>"
				+ "	<td class='tc w180'>"
				+ "		<a href='#' onclick='show(1, " + item.id + ");' class='mr15 unl btn_ck Black'>查看</a>"
				+ (isManager(item)?"":"		<a href='#' onclick='show(2, " + item.id + ");' class='mr15 unl btn_ck Black'>编辑</a>")
				+ (isManager(item)?"":"		<a href='#' onclick='delUser(" + item.id + ");' class='mr15 unl btn_ck Black'>删除</a>")
				+ "	</td>"
				+ "</tr>";
		}
		return html;
	}
	
	function isManager(item) {
		return item.loginName=="sysAdmin" || item.loginName=="secAdmin" || item.loginName=="audAdmin";
	}
	
	//拼接用户角色
	function unionRole(item) {
		//debugger
		var bf = "";
		if (item.roles != null) {
			for (var i = 0; i < item.roles.length; i++) {
				bf += item.roles[i].name;
				if (i < item.roles.length - 1)
					bf += ",";
			}
			return bf;
		}
		else
			return "";
	}
	
	
	//查询条件是否有更新
	function checkSearchItem() {
		return (nameTmp == $("#name").val()) &&
			(userIdTmp == $("#userId").val()) &&
			(departTmp == $("#depart").val()) &&
			(roleIdTmp == $("#roleId").val())
	}

	//检测用户登录
	function checkLogin0() {
		$.ajax({
			async : false,
			type : "post",
			url : "/checkLogin",
			dataType : "json",
			data : {},
			success : function(resp) {
				if(resp.code == 200){
				} else {
					top.location.href = "/view/index";
				}
			}
		});
	}
	
	//删除用户
	function delUser(id) {
		if (!perCheck("user", "")) {
			alert("您没有权限！");
			return;
		}
		if (!confirm("确定删除？"))
			return;
		$.ajax({
			type : "post",
			url : "/api/user/delete",
			dataType : "json",
			data : {
				"id" : id
			},
			success : function(resp) {
				if(resp.code == 200){
					alert("角色删除成功！");
					pageIndex = 1;
					list();
				} else {
					alert(resp.msg);
				}
			}
		});
	}
	
	//批量删除用户
	function delBatch() {
		if (!perCheck("user", "")) {
			alert("您没有权限！");
			return;
		}
		var ids = "";
		$("input:checkbox[name=dataList]:checked'").each(function(i){  
        	ids += $(this).val() + ",";  
        });
		if (ids == "") {
			alert("请选择要删除的角色");
			return;
		}
//		alert(ids);return;
		if (!confirm("确定删除？"))
			return;
		$.ajax({
			type : "post",
			url : "/api/user/delBatch",
			dataType : "json",
			data : {
				"ids" : ids
			},
			success : function(resp) {
				if(resp.code == 200){
					alert("角色删除成功！");
					pageIndex = 1;
					list();
				} else {
					alert(resp.msg);
				}
			}
		});
	}
	
	
	//---------------------------------------------------------------------------
	// 弹出框
	//---------------------------------------------------------------------------
	
	/**
	 * 弹出框
	 */
	function show(i, id) {
	    $("#uId").val(id);
// 	    $(document).contents().find("#iframe"+i)[0].contentWindow.location.reload();
	    
	    if (i == 1)
	    	detail();
	    else {//分配角色
			if (!perCheck("user", "")) {
				alert("您没有权限！");
				return;
			}
	    	if (i == 2)
	    		edit();
	    }
		
		showdiv(i);
		showDivAlign("iframe" + i, "show" + i, "frameDiv" + i);
	}
	
	
	//---------------------------------------------------------------------------
	// 子页面--用户详情页
	//---------------------------------------------------------------------------
	/**
	 * 用户详情页
	 */
	function detail() {
		 $.ajax({
			async : false,
			type : "post",
			url : "/api/user/detail",
			dataType : "json",
			data : {
				'id' : $('#uId').val()
			},
			success : function(resp) {
				if(resp.code == 200){
					$(document).contents().find("#iframe1")[0].contentWindow.$("#name").text(resp.data.name==null?"":resp.data.name);
					$(document).contents().find("#iframe1")[0].contentWindow.$("#userId").text(resp.data.userId==null?"":resp.data.userId);
					var depart = resp.data.org == null ? "" : (resp.data.org.name == null ? "" : resp.data.org.name);
					$(document).contents().find("#iframe1")[0].contentWindow.$("#depart").text(depart);
					$(document).contents().find("#iframe1")[0].contentWindow.$("#role").text(unionRole(resp.data));
					var userSecret = resp.data.userSecret;
					userSecret = userSecret=='0'?"":userSecret=="1"?"一般":userSecret=="2"?"重要":userSecret=="3"?"核心":"";
					$(document).contents().find("#iframe1")[0].contentWindow.$("#userSecret").text(userSecret);
				} else {
					alert(resp.msg);
				}
			}
		});
	}
	
	
	//---------------------------------------------------------------------------
	// 子页面--角色编辑页
	//---------------------------------------------------------------------------
	/**
	 * 编辑角色
	 */
	function edit() {
		$.ajax({
			async : false,
			type : "post",
			url : "/api/user/detail",
			dataType : "json",
			data : {
				'id' : $('#uId').val()
			},
			success : function(resp) {
				if(resp.code == 200){
					$(document).contents().find("#iframe2")[0].contentWindow.$("#name").val(resp.data.name);
					$(document).contents().find("#iframe2")[0].contentWindow.$("#userId").val(resp.data.loginName);
					var nodeId = resp.data.orgId;
					$(document).contents().find("#iframe2")[0].contentWindow.clickNode(nodeId);
					$(document).contents().find("#iframe2")[0].contentWindow.selectRole(resp);
					$(document).contents().find("#iframe2")[0].contentWindow.$("#userSecret").val(resp.data.userSecret);
// 					var secretDiv = $(document).contents().find("#iframe2")[0].contentWindow.$("#userSecret")[0];
// 					for (var i=0; i<secretDiv.options.length; i++) {
// 						var optTmp = secretDiv.options[i];
// 						if (optTmp.value == resp.data.userSecret) {
// 							optTmp.selected = true;
// 							return false;
// 						}
// 					}
				} else {
					alert(resp.msg);
				}
			}
		});
	}
	
	//---------------------------------------------------------------------------
	// 子页面--角色新建页
	//---------------------------------------------------------------------------
	/**
	 * 新建角色
	 */
	function update(n) {
		var uid = "";
		if (n==2)
			uid = $("#uId").val();
		var name = $(document).contents().find("#iframe"+n)[0].contentWindow.$("#name").val();
		var userId = $(document).contents().find("#iframe"+n)[0].contentWindow.$("#userId").val();
		var orgId = $(document).contents().find("#iframe"+n)[0].contentWindow.$("#orgId").val();
		var orgName = $(document).contents().find("#iframe"+n)[0].contentWindow.$("#orgName").val();
		var rid = $(document).contents().find("#iframe"+n)[0].contentWindow.$("input[name='role']:checked").val();
		var userSecret = $(document).contents().find("#iframe"+n)[0].contentWindow.$("#userSecret").val();
		if (!checkInfo(name, userId, orgId, orgName, rid))
			return;
		$.ajax({
			async : false,
			type : "post",
			url : "/api/user/update",
			dataType : "json",
			data : {
				'uid' : uid,
				'name' : name,
				'userId' : userId,
				'orgId' : orgId,
				'orgName' : orgName,
				'rid' : rid,
				'userSecret' : userSecret
			},
			success : function(resp) {
				if(resp.code == 200){
					alert("操作成功");
					//隐藏弹出框
					hide(n);
					//刷新页面
					pageIndex = 1;
					list();
				} else {
					alert(resp.msg);
				}
			}
		});
	}
	
	//校验字段
	function checkInfo(name, userId, orgId, orgName, rid) {
		if (name == '') {
			alert("请输入姓名");
			return false;
		}
		else if(name.length > 120) {
			alert("姓名字数过多，请重新输入");
			return false;
		}
		if (userId == '') {
			alert("请输入用户名");
			return false;
		}
		else if(userId.length > 120) {
			alert("用户名字数过多，请重新输入");
			return false;
		}
		if (orgId == '') {
			alert("请选择所在部门");
			return false;
		}
		if (rid == '' || rid==undefined) {
			alert("请选择角色");
			return false;
		}
		return true;
	}
</script>