<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/manage/images/favicon.ico">
<!--base style!-->
<link href="/static/manage/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/manage/css/web.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/manage/js/jquery-1.7.2.min.js"></script>
<link href="/static/manage/css/select.css" type="text/css" rel="stylesheet" />
</head>
<body style="background: #fff;">
	<div class="fl w900 min-h pb50 bg_white">
		<div id="roles" class="fl w720 ml100 mt20">
			<!-- <li  class="fl w110 mt10 mb10">
				<span class="fl w50 tr mr10 mt5"><input type="radio" name="role" value="" /></span>
				<span class="fl w50 gray5">编辑</span>
			</li> -->
		</div>
	</div>
</body>
</html>