<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<!--base style!-->
<link href="/static/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/css/web.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<link href="/static/css/select.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/js.js"></script>
</head>
<body class="bg_white">
	<div class="fl w930 bg_white">
		
		<div class="fl w720 ml100 mt20">
			<ul class="fl w ">
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">模块名称：</span>
					<span id="modelName" class="fl w500 blue mt5"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">用户名称：</span>
					<span id="userName" class="fl w500 blue mt5"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">操作时间：</span>
					<span id="optionDate" class="fl w500 blue mt5"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">操作名称：</span>
					<span id="options" class="fl w500 blue mt5"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">操作内容：</span>
					<span id="content" class="fl w500 blue mt5"></span>
				</li>
				<li  class="fl w mt10 mb10">
					<span class="fl w100 tr mr10 mt5">操作结果：</span>
					<span id="result" class="fl w500 blue mt5"></span>
				</li>
		    </ul>
		</div>
	</div>
</body>
</html>
