<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理系统</title>
</head>
<frameset rows="80,*,0" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="frame/menu.html" name="menuFrame" scrolling="No" noresize="noresize" id="menuFrame" title="menuFrame"/>  
  <frame src="http://localhost:18080/smartbi/vision/openresource.jsp?resid=I402816810172113811389cd70172113d2d690094" name="Frame" scrolling="No" noresize="noresize" id="Frame" title="Frame"/>
</frameset>
<noframes><body>
</body></noframes>
</html>