<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--style-->
	<link href="../css/base.css" type="text/css" rel="stylesheet" />
	<link href="../css/base_width.css" type="text/css" rel="stylesheet" />
	<link href="../css/base_height.css" type="text/css" rel="stylesheet" />
	<link href="../css/base_margin.css" type="text/css" rel="stylesheet" />
	<link href="../css/base_padding.css" type="text/css" rel="stylesheet" />
	<link href="../css/style.css" type="text/css"  rel="stylesheet" />
	<link href="../css/style.css" type="text/css"  rel="stylesheet" />
	<link href="../css/select.css" rel="stylesheet" />
	<link href="../css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
	<script type="text/javascript" src="../js/js.js"></script>
	<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <style>
      .scrollDiv{
        overflow-y: scroll;
        overflow-x: hidden;
      }
    </style>
    <script type="text/javascript" src="../js/jquery.nicescroll.js" ></script>
    <script>
      $(function(){
         $(".scrollDiv").niceScroll({
		 cursorcolor:"#446ba9",
		 touchbehavior: true,
		 cursoropacitymax: 1,
		 cursorborder: "0",
		 cursorwidth: "10px",
		 autohidemode: true});
      });
    </script>
</head>
<body>
<div class="fl w1920 h1000 bg_zhzl">	
	<div class="fl w h51">
		<div class="fr w4540 mr500 mt7 bor_t">
			<a href="aqww_1zhzl.html" class="sub_navOn">
				<span class="f20 white">综合治理</span>
			</a>
			<a href="aqww_2shww.html" class="sub_navOff">
				<span class="f20 white ">社会维稳</span>
			</a>						
			<a href="aqww_3fxj.html" class="sub_navOff">
				<span class="f20 white ">反邪教</span>
			</a>
		</div>	
	</div>
	<div class="fl w">
		<!--left-->
		<div class="fl w530 h850 ml31 mt20">
			<div class="fl w h40 mt5">			
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">实有人口</span>				
			</div>
			<div class="fl w498 h200 tc ml20 mt10">				
				<img src="../images/zhzl_img_1.png">
			</div>
			<div class="fl w h40 mt50">			
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">特殊人群</span>
				<span class="fr white mr30 f14 mt15">单位：人</span>
			</div>
			<div class="fl w498 h200 tc ml20">				
				<img src="../images/zhzl_img_2.png">
			</div>
			<div class="fl w h40 mt60">			
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">重点青少年</span>
				<span class="fr white mr30 f14 mt15">单位：人</span>
			</div>
			<div class="fl w498 h200 tc ml20">				
				<img src="../images/zhzl_img_3.png">
			</div>
		</div>
		<!--center-->
		<div class="fl w650 h850 ml65 mt20 white">
			<div class="fl w tc h40">
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">综治基本数据</span>
			</div>
			<div class="fr w white mr30 f14 h30 tr">单位：件</div>
			<div class="fl w271 h59 zhzl_conbg_3">
				<span class="fl white f18 lh59 ml30">清查数量</span>
				<span class="fl f24 ml40 lh59 color_green">21,335</span>
			</div>
			<div class="fl w271 h59 zhzl_conbg_3 ml40">
				<span class="fl white f18 lh59 ml30">整改数量</span>
				<span class="fl f24 ml40 lh59 color_green">18,382</span>
			</div>
			<div class="fl w mt10 h740 tc pr" id="con_gj0">					
				<div class="fl w h640 mt20 ">地图</div>
				<div class="fl w520 fp_dsr_table ml10 pa">
					<div class="fl w520 h124">
						<div class="fl w h36"><span class="fl mt3 ml20 f18 white">中心城区</span></div>
						<div class="fl mt5 h42 ">
							<span class="fl w90 mt3 f16 color_blz tc">东城区</span>
							<span class="fl w80 mt3 f16 color_blz tc">西城区</span>
							<span class="fl w85 mt3 f16 color_blz tc">朝阳区</span>
							<span class="fl w80 mt3 f16 color_blz tc">海淀区 </span>
							<span class="fl w80 mt3 f16 color_blz tc">丰台区</span>
							<span class="fl w100 mt3 f16 color_blz tc">石景山区</span>
						</div>
						<div class="fl mt5 h42">
							<span class="fl w90 mt3 f16 color_yellow tc">5</span>
							<span class="fl w80 mt3 f16 color_yellow tc">6</span>
							<span class="fl w85 mt3 f16 color_yellow tc">7</span>
							<span class="fl w80 mt3 f16 color_yellow tc">7 </span>
							<span class="fl w80 mt3 f16 color_yellow tc">5</span>
							<span class="fl w100 mt3 f16 color_yellow tc">5</span>
						</div>					
					</div>
				</div>
			</div>

		</div>
		<!--right-->
		<div class="fr w520 h880 mt20 mr40" >
			<div class="fl w tc h50">
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">两新组织</span>
			</div>
			<div class="fl w h210 zhzl_conbg_1 tc">
				<div class="fl w194 tc ml65 mt50">
					<span class="fl w f24 white">42.784<br/>万</span>
					<span class="fl w f18 white mt70">非公有制经济组织</span>
				</div>
				<div class="fr w194 tc mr55 mt50">
					<span class="fl w f24 white">8.321<br/>万</span>
					<span class="fl w f18 white mt70">社会组织</span>
				</div>
			</div>
			<div class="fl w tc h40 mt50">
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">社会治安</span>
			</div>
			<div class="fl w h210 zhzl_conbg_2 tc">
				<div class="fl w170 tl ml130 mt40">					
					<span class="fl w f16 white">重点地区排查</span>
					<span class="fl w f14 white"><font class="f24 color_green mr10">3421</font>件</span>
				</div>
				<div class="fr w150 tl  mt40">					
					<span class="fl w f16 white">合格率</span>
					<span class="fl w f14 white"><font class="f24 color_blue mr10">85.32</font>%</span>
				</div>
				<div class="fl w170 tl ml130 mt40">					
					<span class="fl w f16 white">重点地区挂牌整治</span>
					<span class="fl w f14 white"><font class="f24 color_yellow mr10">142</font>件</span>
				</div>
				<div class="fr w150 tl  mt40">					
					<span class="fl w f16 white">合格率</span>
					<span class="fl w f14 white"><font class="f24 color_red mr10">79.23</font>%</span>
				</div>
			</div>
			<div class="fl w tc h40 mt50">
				<span class="fl ml10"><img src="../images/ico_titcx.png"></span>
				<span class="fl f24 ml20 color_yellow">矛盾纠纷排查调处</span>
			</div>
			<div class="fl w h210 tc">
				<img src="../images/zhzl_img_4.png">
			</div>
		</div>	
	</div>
</div>
<div class="sjly_div h38 pa tc"> 
	<span class="fl w mt13 tc">主要数据来源：太极整理</span>
</div>
</body>
<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../js/jquery.select.js"></script>
<script type="text/javascript">
	$(function () {
		$("#mySelect").select({
			width:"128px"
		});
	});
</script>
</html>