<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
<!--base style!-->
<link href="/static/css/base.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_width.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_height.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_margin.css" type="text/css" rel="stylesheet" />
<link href="/static/css/base_padding.css" type="text/css" rel="stylesheet" />
<link href="/static/css/web.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/select.css"/>
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
</head>
<body>
		您打开了一个不存在的页面，系统会在<b><font id="sec" color="red">5</font></b>s内帮您转到系统主页。
</body>
</html>

<script type="text/javascript">

	var sec = parseInt($("#sec").html());
	function countSecond(){
		if (sec <= 0)
			window.location.href = "/view/login";
		else
			$("#sec").html(sec--);
	}
	setInterval(countSecond,1000);
</script>

